.Form {
  display: grid;
  grid-template-columns: minmax(100px, 180px) 1fr;
  gap: 20px;

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }

  .Label {
    color: #9c9c9c;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Input {
    display: flex;
    flex-direction: column;
    gap: 10px;

    > * {
      width: 100%;
      max-width: 300px;

      @media (max-width: 640px) {
        max-width: unset;
      }
    }

    .Details {
      display: flex;
      flex-direction: column;
      max-width: 450px;
      gap: 10px;

      @media (max-width: 640px) {
        max-width: unset;
      }

      > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        min-height: 40px;

        @media (max-width: 448px) {
          align-items: flex-start;
        }

        > div:last-child {
          flex: 1;
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center;

          @media (max-width: 448px) {
            flex-direction: column;
            align-items: stretch;
          }

          > div:last-child {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }
      }
    }
  }
}
