@font-face {
  font-family: iransansWeb;
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/iraniansansWeb/ttf/IRANSansWeb_FaNum.ttf) format("truetype"),
    url(../fonts/iraniansansWeb/ttf/IRANSansWeb_FaNum.ttf) format("truetype");
}

@font-face {
  font-family: iransansWeb;
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/iraniansansWeb/ttf/IRANSansWeb_FaNum_Bold.ttf)
      format("truetype"),
    url(../fonts/iraniansansWeb/ttf/IRANSansWeb_FaNum_Bold.ttf)
      format("truetype");
}

@font-face {
  font-family: iransansWeb;
  font-style: normal;

  src: url(../fonts/iraniansansWeb/ttf/IRANSansWeb_FaNum_Light.ttf)
      format("truetype"),
    url(../fonts/iraniansansWeb/ttf/IRANSansWeb_FaNum_Light.ttf)
      format("truetype");
}

@font-face {
  font-family: iransansWeb;
  font-style: normal;
  src: url(../fonts/iraniansansWeb/ttf/IRANSansWeb_FaNum_Medium.ttf)
      format("truetype"),
    url(../fonts/iraniansansWeb/ttf/IRANSansWeb_FaNum_Medium.ttf)
      format("truetype");
}

@font-face {
  font-family: iransansWeb;
  font-style: normal;
  src: url(../fonts/iraniansansWeb/ttf/IRANSansWeb_FaNum_UltraLight.ttf)
      format("truetype"),
    url(../fonts/iraniansansWeb/ttf/IRANSansWeb_FaNum_UltraLight.ttf)
      format("truetype");
}
