@import "vazirmatn/Vazirmatn-font-face.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: Vazirmatn, sans-serif;
  background-color: #eeeeee;

  input,
  textarea,
  button {
    font-family: Vazirmatn, sans-serif;
  }

  a {
    color: #0487d9;
  }

  #__next {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
}
