.Container {
  display: flex;
  flex-direction: column;
  gap: 150px;
  box-sizing: border-box;
  padding: 0 50px;

  @media (max-width: 896px) {
    padding: 0 30px;
  }

  @media (max-width: 896px) {
    gap: 50px;
  }

  .Introduction {
    margin: 0 auto;
    max-width: 1088px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;

    @media (max-width: 896px) {
      grid-template-columns: 1fr;
      gap: 50px;
    }

    > div:first-child {
      > h1 {
        margin: 0;
        margin-bottom: 50px;
        color: #5800b3;
        font-size: 48px;
    
        @media (max-width: 896px) {
          text-align: center;
          font-size: 32px;
          margin-bottom: 30px;
        }

        @media (max-width: 512px) {
          font-size: 22px;
          margin-bottom: 20px;
        }
      }

      > p {
        color: #464646;
        line-height: 1.8;
        text-align: justify;
        font-size: 18px;
    
        @media (max-width: 896px) {
          text-align-last: center;
          font-size: 16px;
        }

        @media (max-width: 512px) {
          font-size: 14px;
        }
      }
    }

    > div:last-child {
      display: flex;

      @media (max-width: 896px) {
        grid-row: 1
      }

      > svg {
        max-width: 512px;
        margin: 0 auto;
      }
    }
  }
    
  .ReadMore {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: #8770b8;
    fill: #8770b8;
    margin-top: -50px;

    @media (max-width: 896px) {
      margin-top: 0;
    }

    @media (max-width: 1024px) {
      grid-column: unset;
    }
  }

  .Section {
    margin: 0 auto;
    max-width: 1024px;

    > h1 {
      text-align: center;
      color: #5800b3;
      font-size: 30px;

      @media (max-width: 512px) {
        font-size: 22px;
      }
    }

    > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      align-items: center;
      text-align: justify;

      @media (max-width: 896px) {
        grid-template-columns: 1fr;
      }

      > div:first-child {
        color: #464646;
        line-height: 1.8;
        font-size: 16px;
  
        @media (max-width: 512px) {
          font-size: 14px;
        }
      }

      > div:last-child {
        display: flex;

        @media (max-width: 896px) {
          grid-row: 1
        }

        > svg {
          max-width: 384px;
          margin: 0 auto;
        }
      }
    }
  }

  .Steps {
    margin: 0 auto;
    max-width: 1024px;

    > h1 {
      text-align: center;
      color: #5800b3;
    }

    > div {
      width: 100%;
      max-width: 700px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 30px;
      position: relative;

      @media (max-width: 512px) {
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
      }


      @media (min-width: 513px) {
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 27px;
          left: 30px;
          right: 30px;
          z-index: -1;
          border-bottom: 6px dashed #2578FA;
        }
      }

      > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        > .NumberCircle {
          width: 60px;
          height: 60px;
          font-size: 40px;
          color: #ffffff;
          border-radius: 30px;
          background: linear-gradient(0deg, #5869e8 0%, #26e0fa 100%);
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: -3px -3px 6px #ffffffdb, 3px 3px 6px #00000029;
          margin-bottom: 10px;
        }

        @media (min-width: 513px) {
          &:first-child {
            align-items: flex-start;
            text-align: start;
          }

          &:last-child {
            align-items: flex-end;
            text-align: end;
          }
        }

        > div:last-child {
          color: #464646;
          font-size: 16px;
    
          @media (max-width: 512px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}