.DialogContent {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 10px;
  align-items: center;

  > div:nth-child(even) {
    display: flex;
    flex-direction: row;
    
    > * {
      flex: 1;
      width: unset;
    }

    .DateInput {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;

      input {
        text-align: center;
      }
    }
  }
}