.Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;

  .Form {
    display: grid;
    grid-template-columns: minmax(100px, 120px) 1fr;
  
    @media (max-width: 512px) {
      grid-template-columns: 1fr;
    }
  
    > div {
      padding: 10px;
  
      &.Label {
        color: #9c9c9c;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
  
      &.Input {
        & > * {
          width: 100%;
          max-width: 300px;
  
          @media (max-width: 512px) {
            max-width: unset;
          }
        }

        div.RadioList {
          display: flex;
          flex-direction: row;
          gap: 20px;
          flex-wrap: wrap;
          margin-bottom: 10px;
      
          > div {
            display: flex;
            flex-direction: row;
            gap: 5px;
          }
        }
      }
    }
  }
  
  > div:last-child {
    grid-column: span 2;
  }
}
