.Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;

  @media (max-width: 1200px) {
    @media (min-width: 897px) {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }

  .Form {
    display: grid;
    grid-template-columns: minmax(100px, 120px) 1fr;

    @media (max-width: 512px) {
      grid-template-columns: 1fr;
    }

    > div {
      padding: 10px;

      &.Label {
        color: #9c9c9c;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &.Input {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > * {
          width: 100%;
          max-width: 300px;

          @media (max-width: 512px) {
            max-width: unset;
          }
        }

        .RadioList {
          display: flex;
          flex-direction: row;
          gap: 20px;
          flex-wrap: wrap;

          > div {
            display: flex;
            flex-direction: row;
            gap: 5px;
            align-items: center;
          }
        }
      }
    }
  }

  > div:last-child {
    grid-column: span 2;
    padding-top: 10px;

    @media (max-width: 1200px) {
      @media (min-width: 897px) {
        grid-column: span 1;
      }
    }

    @media (max-width: 800px) {
      grid-column: span 1;
    }

    :global(.tox-tinymce) {
      border: 1px solid #cccccc;

      :global(.tox-editor-header) {
        border-bottom: 1px solid #cccccc;
        box-shadow: none;
      }
    }
  }
}
