@mixin animation() {
  $animation-name: unique-id();
  animation-name: $animation-name;

  @keyframes #{$animation-name} {
    @content;
  }
}

.Loader {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  svg {
    width: 100%;
    max-width: 80px;
    height: auto;

    :global(.loader-first-square) {
      animation: 2.4s linear infinite normal forwards;

      @include animation {
        0% {
          transform: translate(-0px, 0.045561px);
        }

        16.666667% {
          transform: translate(-0px, 0.045561px);
        }

        25% {
          transform: translate(0.1px, 51.27px);
        }

        41.666667% {
          transform: translate(0.1px, 51.27px);
        }

        50% {
          transform: translate(43.608471px, 27.113231px);
        }

        66.666667% {
          transform: translate(43.608471px, 27.113231px);
        }

        75% {
          transform: translate(43.760612px, -24.310533px);
        }

        91.666667% {
          transform: translate(43.760612px, -24.310533px);
        }

        100% {
          transform: translate(-0.010157px, 0.067936px);
        }
      }
    }

    :global(.loader-second-square) {
      animation: 2.4s linear infinite normal forwards;

      @include animation {
        0% {
          transform: translate(0.1px, 0.176454px);
        }

        8.333333% {
          transform: translate(0.1px, 0.176454px);
        }

        16.666667% {
          transform: translate(44.181884px, -24.450981px);
        }

        33.333333% {
          transform: translate(44.181884px, -24.450981px);
        }

        41.666667% {
          transform: translate(43.508471px, -75.405865px);
        }

        58.333333% {
          transform: translate(43.508471px, -75.405865px);
        }

        66.666667% {
          transform: translate(0.1px, -51.27px);
        }

        83.333333% {
          transform: translate(0.1px, -51.27px);
        }

        91.666667% {
          transform: translate(-0.010157px, 0.054702px);
        }

        100% {
          transform: translate(-0.010157px, 0.054702px);
        }
      }
    }

    :global(.loader-third-square) {
      animation: 2.4s linear infinite normal forwards;

      @include animation {
        0% {
          transform: translate(0.006884px, 0.169019px);
        }

        8.333333% {
          transform: translate(0.006884px, -50.708481px);
        }

        25% {
          transform: translate(0.006884px, -50.708481px);
        }

        33.333333% {
          transform: translate(-44.075px, -27px);
        }

        50% {
          transform: translate(-44.075px, -27px);
        }

        58.333333% {
          transform: translate(-44.075px, 24.939739px);
        }

        75% {
          transform: translate(-44.075px, 24.939739px);
        }

        83.333333% {
          transform: translate(-0.029388px, 0.169019px);
        }

        100% {
          transform: translate(-0.029388px, 0.169019px);
        }
      }
    }
  }
}
