@mixin animation() {
  $animation-name: unique-id();
  animation-name: $animation-name;

  @keyframes #{$animation-name} {
    @content;
  }
}

.SmallLoader {
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
  border-top-color: #2578fa;
  border-left-color: #2578fa;
  border-right-color: #2578fa;

  animation: 1s infinite linear;

  @include animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
