.Calculator {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: -3px -3px 6px #ffffffdb, 3px 3px 6px #00000029;

  .Title {
    text-align: center;
    color: #9c9c9c;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
    
    @media (max-width: 512px) {
      font-size: 16px;
    }
  }

  .Input {
    display: flex;
    flex-direction: column;
    gap: 10px;

    > div:first-child {
      max-width: unset;
    }
  }

  .Row {
    display: flex;
    flex-direction: row;
    gap: 20px;

    > div:first-child {
      display: flex;
      flex-direction: column;
      gap: 10px;

      > div:first-child {
        width: 150px;
      }
    }

    > div:last-child {
      width: 100%;
      padding: 0 10px;
      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;
      justify-content: flex-end;
      color: #5d5d5d;
      font-size: 12px;
    }
  }

  .Bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    margin-top: 30px;

    > div {
      overflow: auto;
    }
  }
}
