.Container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;

  .WarningIcon {
    display: flex;
    fill: #9c9c9c;

    > svg {
      width: 72px;
      height: 72px;
    }
  }

  .Message {
    font-size: 18px;
    font-weight: 500; // Medium
    color: #9c9c9c;
    margin-bottom: 10px;
  }

  .Buttons {
    width: 100%;

    > div {
      width: 100%;
      justify-content: center;

      .Button {
        width: 100%;
        min-width: max-content;
        max-width: 150px;
      }
    }
  }
}