.SectionContent {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  padding: 25px 40px 25px;
  border-radius: 20px;
<<<<<<< HEAD
  box-shadow: -3px -3px 6px #ffffffdb, 3px 3px 6px #00000029;
=======
  box-shadow: -3px -3px 6px rgb(255 255 255 / 86%), 3px 3px 6px rgb(0 0 0 / 16%);
>>>>>>> 05d494beee4c80d2d6754db91345894d3445c16b

  @media (max-width: 896px) {
    box-shadow: none;
    padding: 0;
  }
}
