@import "vazirmatn/Vazirmatn-font-face.css";
@import "@/shared/assets/scss/iransansWeb.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: iransansWeb, sans-serif;
  background-color: #eeeeee;

  input,
  textarea,
  button {
    font-family: iransansWeb, sans-serif;
    font-weight: 300;
  }

  a {
    color: #0487d9;
    text-decoration: none;
    font-weight: 500;
  }

  p {
    font-weight: 400;
  }

  li {
    list-style-type: none;
  }

  #__next {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
}
