.Form {
  display: grid;
  grid-template-columns: minmax(100px, 180px) 1fr;

  @media (max-width: 512px) {
    grid-template-columns: 1fr;
  }

  > div {
    padding: 10px;

    &.Label {
      color: #9c9c9c;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &.Input {
      display: flex;
      flex-direction: column;
      gap: 10px;

      > * {
        width: 100%;
        max-width: 300px;

        @media (max-width: 512px) {
          max-width: unset;
        }
      }
    }
  }
}
