.Container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;

  @media (max-width: 896px) {
    justify-content: space-between;
  }

  .SiteLogo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 897px) {
      display: none;
    }

    > svg {
      width: 100%;
      max-width: 130px;
      height: auto;
    }
  }

  .Image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 897px) {
      margin-top: 10px;
    }

    > svg {
      width: 100%;
      max-width: 220px;
      height: auto;
    }
  }

  .SuccessfulTitle {
    margin: 0;
    color: #0077b5;
    font-size: 22px;
  }

  .SuccessfulOrderId {
    margin: 0;
    font-size: 18px;
    font-weight: 500; // Medium
    color: #9c9c9c;
  }

  .UnsuccessfulTitle {
    margin: 0;
    color: #f20f4b;
    font-size: 32px;
  }

  .UnsuccessfulSubtitle {
    margin: 0;
    color: #464646;
    font-size: 20px;
  }

  .UnsuccessfulMessage {
    margin: 0;
    color: #9c9c9c;
    max-width: 400px;
  }
}
